p.para{
    color: aqua;
}
.para{
    background-color: plum;
}
#heading{
    background-color: black;
}
h1{
    color: chocolate;
}
#p1{
    color: beige;
}
#p2{
    color: rgb(86, 86, 223);
}
#p3{
    color: rgb(90, 254, 90);
}
.about{
    background-color: brown;
}